// #### MAIN FEATURE ####
.page-section
  .row
    .col-sm-4.pa-6.py-md-0
      .feature-list
        .icon.primary.material-icons brightness_7
        h5.headline
          | Lorem ipsum dolor
        p.body-1
          | Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus.
    .col-sm-4.pa-6.py-md-0
      .feature-list
        .icon.primary.material-icons sports_tennis
        h5.headline
          | Lorem ipsum dolor
        p.body-1
          | Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus.
    .col-sm-4.pa-6.py-md-0
      .feature-list
        .icon.primary.material-icons videogame_asset
        h5.headline
          | Lorem ipsum dolor
        p.body-1
          | Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus.
// #### END MAIN FEATURE ####
