// #### MORE FEATURE ####
.feature-more
  .container#mode_feature
    .row
      .col-md-6.px-6
        .feature-item
          .wow.fadeInLeft(data-wow-duration="0.6s")
            h3.title-app.display-2 Lorem ipsum dolor
          .wow.fadeInLeft(data-wow-delay="0.3s" data-wow-duration="0.6s")
            p.text
              | Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus.
      .col-md-6.px-6
        .feature-item
          .wow.zoomIn(data-wow-delay="0.3s" data-wow-duration="0.6s")
            .deco1
          .wow.fadeInRight(data-wow-delay="0.5s" data-wow-duration="0.6s")
            figure.img
              |
              |
              img(src=imgAPI.photo[5] alt="img")/
              |
              |
    .row
      .col-md-6.px-6
        .feature-item
          .wow.zoomIn(data-wow-delay="0.3s" data-wow-duration="0.6s")
            .deco1
          .wow.fadeInLeft(data-wow-delay="0.5s" data-wow-duration="0.6s")
            figure.img
              |
              |
              img(src=imgAPI.photo[0] alt="img")/
              |
              |
      .col-md-6.px-6
        .feature-item
          .wow.fadeInLeft(data-wow-duration='0.6s')
            h3.title-app.display-2 Lorem ipsum dolor
          .wow.fadeInRight(data-wow-delay="0.5s" data-wow-duration="0.6s")
            p.text
              | Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus.
    .row
      .col-md-12.px-6
        .feature-item.last.text-center
          .wow.fadeInUp(data-wow-duration="0.6s")
            h3.title-app.display-2 Lorem ipsum dolor
          .wow.fadeInUp(data-wow-duration="0.6s" data-wow-delay="0.3s")
            p.text
              | Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus.
          .wow.zoomIn(data-wow-duration="0.6s" data-wow-delay="0.3s")
            .deco2
          .wow.fadeInUp(data-wow-duration="0.6s" data-wow-delay="0.5s")
            figure.img-full
              |
              |
              img(src=imgAPI.photo[1] alt="img")/
              |
              |
// #### END MORE FEATURE ####