.parallax-wrap
  .container
    .banner-parallax-wrap
      .figure
        div
          div(data-enllax-ratio="-0.2" data-enllax-type="foreground")
            svg.parallax-vertical.parallax-dot(width="645px" height="1099px")
              use(xlink:href=assets+"/images/decoration/dot-deco.svg#dot")
      .figure
        div
          div(data-enllax-ratio="-0.25" data-enllax-type="foreground")
            svg.parallax-vertical.parallax-triangle(width="902px" height="1042px")
              use(xlink:href=assets+"/images/decoration/triangle-deco.svg#triangle")
      .figure
        div
          div(data-enllax-ratio="-0.2" data-enllax-type="foreground")
            svg.parallax-vertical.parallax-circle(width="600px" height="570px")
              use(xlink:href=assets+"/images/decoration/circle-deco.svg#circle")
