.alert.alert-dismissible.fade.show.notification(role='alert')
  .wrapper
    .content
      .action #{$t.common.notif_msg}
      |
      |
      button.btn.btn-outlined.waves-effect.waves-light.white(type='button', data-dismiss='alert', aria-label='Close') #{$t.common.accept}
