-
  var tiers = [
    {
      title: "Free",
      price: "0",
      description: [
        "10 users included",
        "2 GB of storage",
        "Help center access",
        "Email support"
      ],
      buttonText: "Sign up for free",
      buttonVariant: "outlined"
    },
    {
      title: "Pro",
      subheader: "Most popular",
      price: "15",
      description: [
        "20 users included",
        "10 GB of storage",
        "Help center access",
        "Priority email support"
      ],
      buttonText: "Get started",
      buttonVariant: "contained"
    },
    {
      title: "Enterprise",
      price: "30",
      description: [
        "50 users included",
        "30 GB of storage",
        "Help center access",
        "Phone & email support"
      ],
      buttonText: "Contact us",
      buttonVariant: "outlined"
    }
  ]

include cards/pricing-card.pug

// #### PRICING ####
.container
  h3.display-2.text-center.mb-4
    | Pricing and Plan
  p.body-1.text-center.mb-4
    | Curabitur egestas consequat lorem, vel fermentum augue porta id.
  .pricing-wrap
    .row.justify-content-center
      .col-md-9
        .row.align-items-end
          each tier in tiers
            .col-sm-4.px-3
              +pricing-card(tier.title, tier.subheader, tier.price, tier.description, tier.buttonText, tier.buttonVariant)
// #### END PRICING ####