.subscribe-wrap
  .row.justify-content-center
    .col-md-12.px-4
      .card.paper
        h5.text-center.headline Subscribe Our Newsletter
        .form
          .row.align-items-center
            .col-sm-9
              .input-field
                input#standard-email(type='email')
                label(for='standard-email') Your Email
            .col-sm-3
              button.waves-effect.btn.primary Send
                i.icon.material-icons.right send
