mixin blog-card(title, desc)
  .card.card-blog
    .card-image
      |
      |
      img(src="https://source.unsplash.com/random" alt="blog image")/
      |
      |
    .card-content
      .card-title.title #{title}
      p #{desc}
    .card-action
      a.btn-flat.waves-effect(href='#') This is a link