//- ***
//- CONFIGURATION FOR ASSETS AND ATTRIBUTES
//- ***
//- Setup assets path, html attributes variables
//- for language or layout direction here
//- ***

//- Change your environment here to define the assets path
//- Available env: dev, prod, and node_modules
- var env = 'dev'

//- HTML attribute
- var doc_lang = 'en'
- var doc_dir = 'ltr'

//- Assets Path
- var multilang = '../../assets'
- var prod = '../assets'
- var dev = './assets'

//- Use assets path
- var assets = dev

